footer {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-evenly; */
  border-top: 1px solid var(--color-gris1);
  /* Si da tiempo, revisar que solo tenga el ancho del contenido, no del vw */
  /*   height: 120px; */
}

.prefooter-section {
  width: 100%;
}

#titulos-prefooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

#txt-prefooter {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.footer-section {
  /*   background-color: red; */
  border-top: 1px solid var(--color-gris1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

footer #logo-icon {
  width: 80px;
  height: 32px;
}

.p-footer {
  color: gray;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--color-amarillo2);
}

.footer-category-list {
  gap: 0;
}

@media (min-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  .footer-section {
    flex-direction: row;
  }

  #titulos-prefooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #txt-prefooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .p-footer {
    flex-grow: 1;
  }
}
