header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 88px;
  justify-items: center;
  box-shadow: var(--sombra);
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: var(--color-blanco);
}

header h1 {
}

.nav1 {
  justify-self: end;
  margin-left: auto;
}

.nav2 {
  justify-self: start;
}

#burger-icon {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
#logo-icon {
  align-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  cursor: pointer;
}

header #logo-icon {
  width: 120px;
  height: 70px;
}

.boton-blanco {
}

.boton-amarillo {
}

#b-login {
  display: none;
}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: flex-start;
  }

  header #logo-icon {
    width: 140px;
    height: 70px;
  }

  #b-login {
    display: flex;
  }
}

@media (min-width: 1200px) {
  header #logo-icon {
    width: 160px;
    height: 90px;
  }
}
