header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 88px;
  justify-items: center;
  box-shadow: var(--sombra);
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: var(--color-blanco);
}

header h1 {
}

.nav1 {
  justify-self: end;
  margin-left: auto;
}

.nav2 {
  justify-self: start;
}

#burger-icon {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
#logo-icon {
  align-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  cursor: pointer;
}

header #logo-icon {
  width: 120px;
  height: 70px;
}

.boton {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.boton-blanco {
}

.boton-amarillo {
}

#b-login {
  display: none;
}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: flex-start;
  }

  header #logo-icon {
    width: 140px;
    height: 70px;
  }

  .boton {
    font-size: 14px;
    border: var(--grosor-linea-a) solid black;
    width: 144px;
    height: 40px;
    border-radius: 12px;
  }

  #b-login {
    display: flex;
  }

  .boton-blanco {
  }

  .boton-amarillo {
    background-color: var(--color-amarillo);
  }
}

@media (min-width: 1200px) {
  header #logo-icon {
    width: 160px;
    height: 90px;
  }
}
