.section-category-list {
  margin: 2rem 0 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  gap: 16px;
}

.container-topcategory-list {
  width: 100%;
}

.li-topcategory {
  border: var(--grosor-linea-a) solid black;
  border-radius: 12px;
  background-color: var(--color-amarillo);
  height: 180px;
  width: 144px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
}

.li-category h3 {
  padding: 1rem 0.5rem 0 0.5rem;
}

.li-topcategory a {
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  justify-self: center;
}

.img-category {
  border: var(--grosor-linea-a) solid black;
  border-radius: 8px;
}

.li-category .img-category {
  border: none;
  border-radius: 8px;
}

.container-category-list h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 800px) {
}

@media (min-width: 1200px) {
  .li-category {
  }
}
