.section-categories {
  margin-bottom: 10rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  gap: 16px;
}

.li-category {
  border: var(--grosor-linea-a) solid black;
  border-radius: 12px;
  background-color: var(--color-amarillo);
  height: 180px;
  width: 144px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.img-category {
  border: var(--grosor-linea-a) solid black;
  border-radius: 8px;
}

@media (min-width: 800px) {
}

@media (min-width: 1200px) {
  .li-category {
    height: 200px;
    width: 160px;
  }
}
