article.provider-card {
  width: 368px;
  display: grid;
  grid-template-columns: 104px 1fr;
  grid-template-rows: repeat(6, 26px);
}

article.provider-card .avatar-photo {
  grid-area: 1 / 1 / 6 / 2;
  align-self: center;
  justify-self: center;
}

article.provider-card .avatar-photo img {
  height: 112px;
  width: 112px;
  height: 80px;
  width: 80px;
}

article.provider-card .txt-secundary {
  font-size: smaller;
  color: var(--color-gris1);
  margin-left: 0.2rem;
}

article.provider-card * {
  display: flex;
  align-items: center;
}

.provider-full-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.provider-rating {
  display: flex;
  align-items: center;
}

.provider-city {
  display: flex;
  align-items: center;
}

h3.provider-name-section {
  /*   align-items: flex-start; */
  justify-content: flex-start;
}

.li-products-provider {
  width: 240px;
}

@media (min-width: 800px) {
  article.provider-card {
    width: 380px;
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: repeat(6, 30px);
  }

  article.provider-card .avatar-photo img {
    height: 112px;
    width: 112px;
  }
}

@media (min-width: 1200px) {
  article.provider-card {
    width: 420px;
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}
