.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.formulario-contacto textarea {
  box-shadow: var(--sombra);
  padding: 0.5rem;
  border: 1px solid var(--color-gris2);
  border-radius: 12px;
  width: 240px;
  height: 120px;
  margin: 0.4rem;
  resize: none;
}

.container-formulario-contacto {
  display: flex;
  flex-direction: column;
  /*  align-items: flex-end; */
}

.container-contact-request-list {
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media (min-width: 800px) {
  .product-detail-page .boton {
    /*     align-self: center;
    justify-self: center;
    background-color: red; */
  }
}
