MYSQL_HOST = 
MYSQL_USER =
MYSQL_PASSWORD =
MYSQL_DATABASE = 
MYSQL_PORT=

SECRET= 

CLIENT_URL=http://localhost:3000

SMTP_HOST=
SMTP_PORT=
SMTP_USER="aqui lo que pone login"
SMTP_PASS="aqui iria master password"
SMTP_MAIL=(aqui iria el mail con el que nos registramos en brevo)

API_PORT=
