.container-user-page {
  display: flex;
  flex-direction: column;
}

.container-user-data {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.container-user-data .txt-destacado {
  margin-top: 2rem;
}

.container-user-data img {
  max-width: 20%;
}

.section-buttons-user-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}

@media (min-width: 800px) {
  .container-user-page {
    flex-direction: row;
    justify-content: center;
  }

  .section-buttons-user-data {
    flex-direction: column;
  }
}

.boton2 {
  font-size: 14px;
  border: var(--grosor-linea-a) solid black;
  width: 144px;
  height: 40px;
  border-radius: 12px;
}

.boton-amarillo2 {
  background-color: var(--color-amarillo);
}
