@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-rojo: #ff0000;
  --color-gris1: #b9b9b9;
  --color-gris2: #d9d9d9;
  --color-gris3: #eaeaea;
  --color-amarillo: #ffc245;
  --color-amarillo2: #e6b028;
  --color-negro: #000000;
  --color-blanco: #fff;
}

.formulario {
  padding: 0.5rem;
  border: 1px solid #d9d9d9; /* gris2 */
  border-radius: 12px;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  margin: 0.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
  --grosor-linea-a: 1.5px;
  --grosor-linea-b: 1px;
  --sombra: 0 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 400;
  text-align: start;
}

main > * {
  padding: 0 24px 0 24px;
}

header > * {
  padding: 0 24px 0 24px;
}

footer > * {
  padding: 0 24px 0 24px;
}

li {
  list-style: none;
}

/* PONGO LOS ESTILOS DE TEXTO EN CSS DE MANERA PROVISIONAL. (Diego) */

h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  line-height: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  width: 100%;
}

.txt-destacado {
  font-size: 12px;
  font-weight: 500;
  text-align: start;
  line-height: 12px;
}

.txt-secundary {
  font-size: smaller;
  color: var(--color-gris1);
}

::placeholder {
  font-weight: 400;
}

input {
  font-weight: 400;
}

.boton {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boton-atras {
  border: var(--grosor-linea-a) solid black;
  width: 144px;
  height: 40px;
  border-radius: 12px;
}

.boton-contactar {
  background-color: var(--color-amarillo);
  border: var(--grosor-linea-a) solid black;
  width: 144px;
  height: 40px;
  border-radius: 12px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 16px;
    line-height: 16px;
  }

  .txt-destacado {
    font-size: 14px;
    line-height: 14px;
  }

  .boton {
    font-size: 14px;
    border: var(--grosor-linea-a) solid black;
    width: 144px;
    height: 40px;
    border-radius: 12px;
  }

  .boton-amarillo {
    background-color: var(--color-amarillo);
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .txt-destacado {
    font-size: 16px;
    line-height: 16px;
  }
}
