@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-rojo: #ff0000;
  --color-gris1: #b9b9b9;
  --color-gris2: #d9d9d9;
  --color-gris3: #eaeaea;
  --color-amarillo: #ffc245;
  --color-amarillo2: #e6b028;
}
