#section-encuentra {
  background-color: var(--color-amarillo);
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#section-encuentra form {
  width: 100%;
  max-width: 320px;
}

.search-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border: var(--grosor-linea-a) solid black;
  border-radius: 12px;
  height: 48px;
  max-width: 320px;
  width: 100%;
  padding: 4px;
  box-shadow: var(--sombra);
}

#section-encuentra ul {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  background-color: #ffffff;
  border: var(--grosor-linea-a) solid black;
  border-radius: 12px;
  max-width: 320px;
  width: 100%;
  padding: 8px;
  box-shadow: var(--sombra);
  position: absolute;
}

#section-encuentra li {
  border-bottom: 0.5px solid var(--color--gris1);
  cursor: pointer;
  height: max-content;
  width: max-content;
}

#section-encuentra input {
  padding-left: 8px;
  height: 100%;
  min-width: 0;
  flex-grow: 1;
}

#icon-search {
  border: var(--grosor-linea-a) solid black;
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-amarillo);
  cursor: pointer;
  color: transparent;
}
