.product-card {
  width: 240px;
}

.product-photo img {
  width: 240px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.provider-name-section {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  gap: 4px;
  align-items: center;
}

.avatar-photo img {
  width: 40px;
}

.add-by {
  color: var(--color-gris2);
}

#rating-star {
  display: flex;
  align-items: center;
}

#star-icon {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;

  color: transparent;
}
